doctype html
html
   head
      title="Hello Pug"
   body
      p.greetings#people Hello World!
      div#hola
        p.class hey 
        p.class que paso #{name}
        p.class tienes esta edad? -> #{number}